#div-translate{
    transform: translate(50px, 20px);
    background-color: rgb(168, 70, 70);
    border: 2px gray solid;
    padding: 7px;
    width: 150px;
    height: 40px;
    z-index: -1;
}

#div-rotate1{
    transform: rotate(20deg);
    background-color: rgb(39,233,144);
    border: 1px solid green;
    padding: 7px;
    width: 90px;
    height: 60px;
}

#div-rotate2{
    transform: rotate(-20deg);
    background-color: rgb(39,233,144);
    border: 1px solid green;
    padding: 7px;
    width: 90px;
    height: 60px;
}

#div-scale{
    transform: scale(2,3);
    border: 1px solid black;
    width:90px;
    height: 40px;
    background-color: rgb(216, 112, 147);
    margin-left: 100px;
    margin-top: 100px;
}

#div-skewX{
    transform: skewX(20deg);
    border: 1px solid black;
    width:90px;
    height: 40px;
    background-color: rgb(216, 112, 147);
    margin-left: 20px;
}

#div-skewY{
    transform: skewY(20deg);
    border: 1px solid black;
    width:90px;
    height: 40px;
    background-color: rgb(216, 112, 147);
    margin-left: 20px;
}

#div-skew{
    transform: skew(20deg, 10deg);
    border: 1px solid black;
    width:90px;
    height: 40px;
    background-color: rgb(216, 112, 147);
    margin-left: 20px;
}

#div-matrix{
    transform: matrix(1, -0.3, 0, 1, 0, 0);
    border: 1px solid black;
    width:90px;
    height: 40px;
    background-color: rgb(216, 112, 147);
    margin-left: 20px;
}