.container-inline-flex{
    border: solid 3px green;
    display: inline-flex;
}

.container-flex{
    border: solid 3px green;
    background-color: rgb(161, 224, 243);
    display: flex;
}

.item{
    border: solid 2px blueviolet;
    background-color: #fae4e4;
}