.contorno{
    border: 4px green solid;
    padding:7px;
}

.verBlock{
    display: block;
}

.verInline{
    display: inline;
}

/*Imagenes finales*/
.tarjeta{
    float: left;
    margin: 10px;
}
img{
    width: 250px;
    height: 150px;
}

