#div1{
    background-color: yellow;
    box-shadow: 10px 10px;
    width: 100px;
    padding: 10px;
    margin-bottom: 15px;
}

#div2{
    background-color: yellow;
    box-shadow: 10px 10px grey;
    width: 100px;
    padding: 10px;
}

/*Estilo para las tarjetas*/
/*tarjeta 1*/
div.card{
    width: 250px;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2), 0 6px 20px 0 rgb(0,0,0,0.19);
    text-align: center;
    margin-bottom: 30px;
}

div.header{
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 40px;
}

div.container{
    padding: 10px;
}

/*tarjeta 2*/
div.polaroid{
    width: 250px;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2), 0 6px 20px 0 rgb(0,0,0,0.19);
    text-align: center;
}

