span.a{
    display: inline;/*por defecto para span*/
    width: 100px;/*inline no lo aplica*/
    height: 100px;/*inline no lo aplica*/
    border: 1px solid blue;
    background-color: yellow;
}

span.b{
    display: inline-block;/*por defecto para span*/
    width: 100px;
    height: 100px;
    border: 1px solid blue;
    background-color: yellow;
}


span.c{
    display: block;/*por defecto para span*/
    width: 100px;
    height: 100px;
    border: 1px solid blue;
    background-color: yellow;
}
